<section>
    <div class="loginContainer">
    <form method="post" action="member/dologin">
        <h1 class="big thin">Login</h1>
        <span>
            <label for="username">Username</label>
            <input class="medium" id="username" type="text" name="login"/>
        </span>
        <span>
            <label for="password">Password</label>
            <input class="medium" id="password" type="password" name="clave"/>
        </span>
        <input class="big" type="submit" value="Enter"/>
    </form>
    </div>
</section>    
<script type="text/javascript" src="js/block.js"></script>
</body>
</html>