<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="{{base}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/tpv_styles.css">
    <link rel="stylesheet" type="text/css" href="css/tpv_modal.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <title>TPV</title>
</head>
<body>
    <!--Modal para la función de bloqueo. -->
<div id="modalBlock" class="modal">
    <!--Modal content -->
    <div class="modal-content">
        <span>
            <h3>Input your password:</h3>
            <input type="password" class="medium" id="passblock" autofocus/>
            <input type="button" class="medium bold" id="unblock" value="Unblock" />
        </span>
    </div>
</div>

    <div class="container blur">
        <header>
            <a><i class="fa fa-edit" aria-hidden="true"></i>  Edit Profile</a>
            <a id="blockscreen"><i class="fa fa-lock" aria-hidden="true"></i>  Block</a>
            <a href="member/dologout"> <i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a>
        </header>
        <div class="cuerpo">
            <aside>
                <div class="logo"></div>
                <nav>
                    <a href="index.php">Dashboard</a>
                    <a href="tpv">TPV</a>
                    <a href="member/listmember">Members</a>
                    <a href="client/index">Clients</a>
                    <a href="product/index">Products</a>
                    <a href="ticket/ticketTemplate">Tickets</a>
                </nav>
            </aside>