.block{
    flex: 1 0 85%;
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0px 100px 40px;
    overflow-y: scroll;
}

/* Caja del modal, se eleva sobre el resto de la página y se centra. */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Difumina la página cuando se queda detrás del modal */

/* Hay que encerrar todo el código en un <div> con esta clase, desde <body> hasta el inicio de los modales. */

.blur {
    filter: blur(0px);
    transition: ease-in-out filter .2s;
}

/* Ventana del modal */

.modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* Boton de cerrar */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contBox{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contBox .pagBefore, .contBox .pagAfter{
    margin: 10px;
    padding: 10px;
    font-size: 3em;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .7);
    flex: 1;
    opacity: .7;
    text-decoration: none;
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.contBox .pagBefore:hover, .contBox .pagAfter:hover{
    transform: scale(1.3, 1.3);
    color: white;
    opacity: 1;
    background-color: var(--color-dark);
}
.contBox .pagBefore:active, .contBox .pagAfter:active{
    transform: scale(1, 1);
}

/*.contBox .pagBefore, .contBox .pagAfter{*/
/*    flex: 1;*/
/*    background: rgba(255, 255, 255, .8);*/
/*    cursor: pointer;*/
/*    border-radius: 2px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/* Queda bastante feo cuando una de las filas es de elementos impares
y todo se estira y desfigura. Hay que procurar que las filas siempre tengan 
un número par de elementos.*/

#productBox {
    flex: 20;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evently;
    align-items: flex-start;
    align-content: flex-start;
}

.pbox {
    flex: 1 0 300px;
    margin: 5px;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evently;
}

.pbox .pbuttons {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.pbox .pbuttons button {
    flex: 1;
    padding: 5px;
    cursor: pointer;
}

/* Animación de cuenta atrás para borrar el producto. */

.pbox .pbuttons button.deleting {
    display: block;
    position: relative;
    z-index: 1;
}

.pbox .pbuttons button.deleting:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000;
    background: #f03434;
    animation: waitDelete 3s linear alternate-reverse;
    animation-timing-function: ease-in;
}

@keyframes waitDelete {
    from {
        left: 0%;
        right: auto;
        width: 0%;
    }
    to {
        left: 0%;
        right: auto;
        width: 100%;
    }
}

/* Fin de la animación */

.pbox .pimg {
    flex: 1 0 100px;
    height: 150px;
    background: lightgrey;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pbox .pdetails {
    flex: 1 0 100px;
    margin: 10px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.pbox .pdetails h3 {
    margin: 0;
    flex: 100%;
    text-transform: capitalize;
}

.pbox .pdetails .pfamily {
    flex: 1;
    text-align: center;
    font-size: .8em;
    text-transform: uppercase;
    /*border: 2px solid #f03434;*/
    font-weight: bolder;
    color: white;
    background-color: #f03434;
    border-radius: 2px;
    padding: 2px;
}

.pbox .pdetails .pprice {
    margin: 0;
    flex: 1;
    text-align: right;
}

.pbox .pdetails .pprice:after {
    content: "€";
}

.pbox .pdetails p:last-child {
    flex: 100%;
    margin: 0;
}

.loadbox {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    transform: scaleY(-1);
    filter: FlipV;
    display: flex;
}
.loadbox.mini {
    position: absolute;
    right: 10px;
    bottom: 100px;
    transform: scale(-.8, -.8);
}

.loading {
    margin: 0px 5px 0px;
    background: linear-gradient(#ff6c79, #ffb735);
    width: 5px;
    height: 40px;
    border-radius: 2px;
}

.loading:nth-child(1){animation: loading-three 1s infinite alternate-reverse;animation-timing-function: cubic-bezier(.4,1.22,.66,-0.24);}
.loading:nth-child(2){animation: loading-two 1s infinite alternate-reverse;animation-timing-function: cubic-bezier(.4,1.22,.66,-0.24);}
.loading:nth-child(3){animation: loading-one 1s infinite alternate-reverse;animation-timing-function: cubic-bezier(.4,1.22,.66,-0.24);}

@keyframes loading-one {
    from {height: 30px;}
    20% {height: 10px;}
    40% {height: 40px;}
    80% {height: 10px;}
    to {height: 70px;}
}
@keyframes loading-two {
    from {height: 40px;}
    20% {height: 20px;}
    40% {height: 60px;}
    80% {height: 20px;}
    to {height: 80px;}
}

@keyframes loading-three {
    from {height: 20px;}
    20% {height: 5px;}
    40% {height: 40px;}
    80% {height: 5px;}
    to {height: 60px;}
}
/*********************************************/

.modal .columns{
    display: flex;
    flex-flow: row wrap;
}

.modal form{
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    position: relative;
}

.modal form input,
.modal form textarea {
    padding: 5px;
}

.modal form textarea{
    resize: none;
    flex: 1;
}

.modal form img{
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
}

.error{
    color: #f03434;
}

#newProducts {
    width: 100%;
    flex: 1;
    display: flex;
    padding: 0 auto;
    flex-wrap: wrap;
}

#newProducts .newProductContainer{
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid #eee;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .8);
}

#newProducts .newProductButtons{
    flex: 100%;
}

#newProducts .newProductContainer:not:first-child{
}


.btnEdit, .btnDelete {
    padding: 10px 15px 10px 15px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    opacity: .8;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);*/
    /*box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);*/
    transition: .2s all ease-in-out;
}

.btnEdit:hover, .btnDelete:hover {
    opacity: 1;
    transform: scale(1.2, 1.2);
}

.btnEdit:active, .btnDelete:active{
    opacity: 1;
    transform: scale(.9, .9);
}

.btnEdit {
    cursor: pointer;
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    background-color: white;
}

.btnEdit:hover {
    color: white;
    background-color: var(--color-blue);
}

.btnDelete {
    cursor: pointer;
    color: var(--color-red);
    border: 2px solid var(--color-red);
    -moz-user-select: none; /* Firefox */
    user-select: none;
    background-color: white;
}

input, textarea, select{
    border: none;
    border-radius: 2px;
    margin: 5px 0px 5px; 
}


/* Estilar examinador de archivos */
.styleImage {/* Ocultar input */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.styleImage + label {
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    background-color: var(--color-dark);
    display: flex;
    transition: .2s all ease-in-out;
}

.styleImage:focus + label,
.styleImage + label:hover {
    padding-left: 20px;
}
.styleImage + label p{
    margin: 0;
    padding: 10px;
}
.styleImage + label p::after{
    content: " >";
    opacity: 0;
    transition: .2s all ease-in-out;
}
.styleImage + label p:hover::after{
    content: " >";
    opacity: 1;
}

.styleImage + label span{
    color: var(--color-dark);
    padding: 10px;
    flex: 1;
    border: 2px solid var(--color-dark);
    border-radius: 0 2px 2px 0;
    background-color: white;
}

.ghost{
    visibility: hidden;
}

/* Con los errores se mostrarán unas tostadas desde abajo. */
 /* The snackbar - position it at the bottom and in the middle of the screen */
#error {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#error.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 