/*************************** CSS *****************************/
/* Caja del modal, se eleva sobre el resto de la p치gina y se centra. */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Difumina la p치gina cuando se queda detr치s del modal */
/* Hay que encerrar todo el c칩digo en un <div> con esta clase, desde <body> hasta el inicio de los modales. */
.blur {
    filter: blur(0px);
    transition: ease-in-out filter .2s;
}

/* Ventana del modal */

.modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Boton de cerrar */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}